.App {
  text-align: center;
}
.navBar{
  background-color: rgba(125, 205, 150, .8);
}
.homeLink{
  color: rgb(34, 139, 34);
}
.createLink{
  color: rgb(34, 139, 34);
}
.listLink{
  color: rgb(34, 139, 34);
}
